.important {
  color: green;
  font-style: bold;
  font-style: italic;
  font-size: 40px
}

.nice {
  color: red;
  font-size: 25px;
}

.cool {
  color: pink;
  font-size: 20px;
}

#article-title {
  font-family: Georgia, serif;
  color: #1050ff;
}

#one {
  font-family: Arial;
  color: #52157a;
  font-weight: bold;
  font-size: 25px
}